Rather than working with a SQL editor, we'll be working with the SQLite shell.

To launch the SQLite shell, we use the sqlite3 command followed by the name of the database file as an argument.

sqlite3 chinook.db

Including a semicolon (;) is necessary in the SQLite shell. If we don't use it, the shell will not know if we are finished writing our query.

SQLite has a number of dot commands which we can use to help us work with databases.

One that we'll want to use often is .headers on, which switches column headers on.

The next thing is that it's hard to read down the columns, since they don't line up. There's another dot command, .mode, that will help us out here. The .mode dot command allows us to select from a few different display modes. We'll use .mode column to allow for easier to read outputs. 

There are several other dot commands you'll use often:

.help - Displays help text showing all dot commands and their function.
.tables - Displays a list of all tables and views in the current database.
.shell [command] - Run a command like ls or clear in the system shell.
.quit - Quits the SQLite shell.

# CREATE TABLE:

CREATE TABLE [table_name] (
    [column1_name] [column1_type],
    [column2_name] [column2_type],
    [column3_name] [column3_type],
    [...]
);

Each column in SQLite must have a type. While some database systems have as many as 50 distinct data types, SQLite uses only 5 behind the scenes:

TEXT                 Names, Email Addresses, Dates and Times ,Phone Numbers
INTEGER              IDs, Quantities
REAL                 Weights, Averages
NUMERIC              Prices, Statuses, Boolean(as True and False are 1 and O respectively)
BLOB                 For Binary Data

Just like with views, if we try to create a table that already exists we will get an error. If we make a mistake when we create a table, we can use the DROP statement to remove the table so we can create it again:

DROP TABLE [table_name];

We can also use the SQLite dot command .schema [table_name] to view the schema for a table we have just created to check where we might have gone wrong.

# primary key

Each table has one or more columns shaded in yellow, which indicates they are the **primary key**. A primary key is a unique identifier for each row - We cannot have two rows in a table with the same value for the primary key column(s).

When two tables have a relation, there will be a column in one table that is a primary key in another table. This is known as a foreign key. By defining a foreign key, our database engine will prevent us from adding rows where the foreign key value doesn't exist in the other table, which helps to prevent errors in our data (note that by default SQLite doesn't force foreign key constraints)

Usually, a primary key is specified as part of a create statement. Once the primary key is defined, the database engine will prevent any new rows from being added to the database if they have the same primary key as any existing rows.

CREATE TABLE user (
    user_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);

CREATE TABLE purchase (
    purchase_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    purchase_date TEXT,
    total NUMERIC,
    FOREIGN KEY (user_id) REFERENCES user(user_id)
);

By adding a FOREIGN KEY clause, we can define one of our columns as a foreign key and specify the table and column that it references

# database normalization.

The process of optimizing the design of databases to minimize data duplication and integrity issues is called database normalization. In database normalization theory, there are several different phases of normalization, known as [normal forms](http://www.bkent.net/Doc/simple5.htm). Knowing each normal form is not as important as understanding the goals of normalization, and designing your databases to avoid data duplication and integrity issues.

When two or more columns combine to form a primary key it is called a compound primary key.

To create a table with multiple foreign keys, we simply use multiple FOREIGN KEY clauses.

sqlite> create table wishlist_track(
   ...> wishlist_id Integer,
   ...> track_id Integer,
   ...> Primary Key (wishlist_id,track_id),
   ...> Foreign Key (wishlist_id) References wishlist(wishlist_id),
   ...> Foreign Key (track_id) References track(track_id)
   ...> );

# Add rows to Data

 To add rows to a SQL table, we'll use the INSERT statement:

INSERT INTO [table_name] (
    [column1_name],
    [column2_name],
    [column3_name]
) VALUES (
    [value1],
    [value2],
    [value3]
);

If you are inserting values into every column in a table, you don't need to list the column names:

INSERT INTO [table_name] VALUES ([value1], [value2], [value3]);

Because of our foreign key constraints, we'll need to start by adding rows to the wishlist table, and then add rows to the wishlist_track table. If we don't, our insert statement will fail.

If you make an error while inserting new rows, you'll need to use the DELETE statement to remove all rows:

DELETE FROM [table_name]
Or use it with a where statement to remove selected rows:

DELETE FROM [table_name]
WHERE [expression];

If we need to add a column to each of our tables. We can use the ALTER statement to do this.

ALTER TABLE [table_name]
ADD COLUMN [column_name] [column_type]; # can not add multiple columns at once

SQLite supports only five basic types - the closest thing to a boolean type is NUMERIC, where the values 1 and 0 will represent true and false respectively

To change values for existing rows, we use the UPDATE statement:

UPDATE [table_name]
SET [column_name] = [expression]
WHERE [expression]

The WHERE clause is optional, and can contain any expression that would be valid in a SELECT statement.

There are several variations we can use for our SET clause. First we can use a single value:

UPDATE customer
SET phone = "+55 (12) 3921-4464"
WHERE customer_id = 1

We can use a subquery that returns a single value:

UPDATE track
SET unit_price = (
                    SELECT AVG(unit_price)
                    FROM track
                 )

We can use a column, or function on an existing column:

UPDATE track
SET unit_price = unit_price * 1.1

Lastly, we can set more than one column at once:

UPDATE wishlist_track
SET
    active = 1,
    purchased = 0;